
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0d0d0d;
  color: #fff;
}

html {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
